@import '../dep/est/2.0.4/src/all.less';

.global-reset();

html {
    font-size: 62.5%;
    color: #666;
    background-color: #F2F2F2;
    -webkit-text-size-adjust: 100%;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// body {
//     background-color: blue;
//     div {
//         color: #fff;
//         width: 120px;
//         .ellipsis();
//     }
// }

// .container {
//     .clearfix();
// }

// nav {
//     background-color: #eee;
//     .clearfix();
//     ul {
//         margin: 0;
//         padding: 0;
//         list-style: none;
//         float: left;
//         li {
//             float: left;
//             a {
//                 display: block;
//                 box-sizing: border-box;
//                 text-decoration: none;
//                 height: 40px;
//                 padding: 0 15px;
//                 line-height: 40px;
//                 color: #444;
//                 font-size: 11px;
//                 cursor: pointer;
//             }
//         }
//     }
// }

// section {
//     border-left: 1px solid #ddd;
//     border-right: 1px solid #ddd;
//     border-bottom: 1px solid #ddd;
//     background: #fff;
//     .source-article-container {
//         box-sizing: border-box;
//         border-right: 1px solid #eee;
//         float: left;
//         width: 50%;
//     }
// }